h1{
    font-size: 60px;
}

h3{font-size: 100px;
}

.familiaTexto{
font-family: "papyrus";
font-size: 15px;
color: #2682FF;
text-align: justify;
}
.bodyprincipal{

    background-color: rgb(15, 17, 6);
}
.headerindex{
    background-color: green;

}
.headerpagina1{
    background-color: blue;
}
.imagenfondo{
    background-image: url(img/MEDELLIN.jpg);
    height: 400px;
    background-attachment: fixed;
}
.textorojo{
    color: red;
}
